@import "tailwindcss";

@source "../**/*.{razor,html,cshtml}";

@layer components {
  /* Active NavLink styling */
  .nav-item a.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
  }
}
