<div class="bg-slate-900 text-white h-16">
    <div class="max-w-7xl mx-auto h-full grid grid-cols-3 items-center px-4">
        
        <div class="justify-self-start">
            <a class="text-white font-semibold text-3xl" href="/">Chronos</a>
        </div>

        <nav class="justify-self-center flex space-x-8">
            <NavLink class="text-gray-300 hover:text-white" ActiveClass="text-white underline" href="/" Match="NavLinkMatch.All">
                Bury
            </NavLink>
            <NavLink class="text-gray-300 hover:text-white" ActiveClass="text-white underline" href="/dig">
                Dig
            </NavLink>
        </nav>

        <div class="justify-self-end">
        </div>

    </div>
</div>